<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Css</title>
</head> 
<body>
    
    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="../view/contact.html">Contactos</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <img src="../img/img_servicios.jpeg" alt="nick">
            <br>
            <div class="principal">
                <h1 class="Hola">Pagina de Servicios</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis asperiores eaque quaerat at quas laborum ad ipsa? Enim accusamus, reiciendis optio maiores autem quo. Quos hic ducimus obcaecati consequuntur fugiat.</p>
                <video src="../videos/video_servicios.mp4" autoplay loop controls width="100%"></video>
            </div>
        </main>
        <footer>
        </footer>
        
</body>
</html>